
<nav>
    <div class="nav-wrapper">
      <a [routerLink]="['/']" class="brand-logo center"><i class="material-icons">comment</i>Watado</a>
    </div>
</nav>
	
<div class="container">
	<h2 class="page-header">Login</h2>
	<div class="row">
		<form (submit)="onLoginSubmit()" class="col s8">
			<div class="row">
        <div class="input-field col s8">
					<label>Username</label>
					<input type="text" class="form-control" [(ngModel)]="username" name="username">
				</div>
			</div>	
			<div class="row">
        <div class="input-field col s8">
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" [(ngModel)]="password" name="password">
					</div>
				</div>
			</div>		
			<input type="submit" class="btn btn-primary" value="Login">
		</form>
	</div>
</div> 	