  <div class="parallax-container">
    <div class="parallax"> 
    </div>
    <div class="container">
      <h2 class="cover-heading">Discover what Lagos has </h2>
      <h2 class="cover-heading">in Store for you</h2>
      <p class="lead">Let Watado be your modern-day town crier</p>
      <p class="signup">
        <a href="#" class="waves-effect waves-light btn-large">Sign Up</a>
      </p>
    </div>  
  </div>

 <!--  
<div class="contain">
  <section class="jumbotron">
    <h1 class="cover-heading">Discover What Lagos has </h1>
     <h1 class="cover-heading">in Store for you</h1>
      <p class="lead">Let Watado be your modern-day town crier</p>
      <p class="signup">
        <a href="#" class="btn btn-lg btn-info">Sign Up</a>
      </p>
  </section>
</div>  
-->