
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="container">
      <h1>Map Generated</h1>
      <div class="map"> 

        <agm-map 
          [latitude]="lat" 
          [longitude]="long" 
          [scrollwheel]="false" 
          [zoom]="zoom"
          [disableDefaultUI]="false"
          (mapClick)="mapClicked($event)">
          
          <agm-marker 
            *ngFor="let m of markers"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat" 
            [longitude]="i.long"
            [markerDraggable]="draggable"
            (dragEnd)="markerDragEnd(m, $event)">
          
          <agm-info-window>
            <strong>more info</strong>
          </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
       
</div>




