<div class="site-wrapper">
  <div class="site-wrapper-inner">

   <!-- Navbar elements are in this first div -->
    <app-navbar></app-navbar>
    <div class="container">

      <!-- Routes to links in nav bar -->
      <router-outlet></router-outlet>

      <!-- Middle section of the page-->  

    </div>

    <main>
      <app-middle-section></app-middle-section>
      <!-- Main section of the page-->  

      <div class="main-section">
      <app-main-section></app-main-section>
      
      </div>

    </main>
    <!-- Footer -->
    <app-footer></app-footer>

  </div>  
</div>


