.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.inner {
  padding: 30px;
}

.middle{
  padding: auto;
}


@media (min-width: 768px) {


  /* Handle the widths */

  .site-wrapper-inner{
    vertical-align: middle;
  }
}

