

   <!-- Navbar elements are in this first div -->
    <app-navbar></app-navbar>
    <div class="contain">

      <!-- Routes to links in nav bar -->
      <router-outlet></router-outlet>
    </div>

    
    <!--
    <main>
      
      Middle section of the page  

      <app-middle-section></app-middle-section>

       Main section of the page
      <div class="main-section">
        <app-main-section></app-main-section>
      </div>

      <! Footer

      <app-footer></app-footer>
      
    </main>
    -->  





