@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.brand-logo{
  float: left;
  margin-bottom: 0;
  padding-left: 3%;

}
.material-icons{
    font-size: 2.4rem; 
}
nav{
  background-color: rgba(0, 137, 236, 0);
  border: none;
  box-shadow: none;
}
li{
  color: orange;

}
.lead{
  font-size: 2rem;
}
.right.hide-on-med-and-down{
  padding-right: 3%; 
}

nav ul li.active {
   background: rgba(217, 35, 15, 0);
}

.nav-wrapper{
    background: rgba(217, 35, 15, 0);
    border-color: rgba(217, 35, 15, 0);
}

h2 {
    line-height: 110%;
    margin: 7.78rem 0 1.424rem 0;
}

.nav-sign-up{
  /*border: 2px solid white;*/
  border-radius: 25px;
  background:#2196F3;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.cover-heading{

    font-family: lato;
    text-align: center;
    font-size: 5.56rem;
    color: white;
}
/* Declare heights because of positioning of img element */

@media (min-width: 768px) {
  .navbrand-logo {
    float: left;
    
  }
.material-icons{
    font-size: 2.4rem; 
}
  #nav-mobile {
    float: right;
  }

}

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
.parallax-container .parallax {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax-container{
    position: inherit;
    padding: 50px;
}

.parallax{

  background: linear-gradient( rgba(255, 152, 0, 0.6), rgba(255, 152, 0, 0.85), #ff7e22),   
               url(./assets/lagos.png) center no-repeat;
  background-size: cover;             
}


.btn-floating{
    width: 20%;
}

.cover-heading{
    font-family: lato;
    text-align: center;
    font-size: 4.56rem;
    color: white;
}

.lead{
    text-align: center;
    font-style: italic;
}

.signup{
  text-align: center;
}

.login{
  text-align: center;
}

.waves-effect.waves-light.btn-large.signup{
    background-color: #FF5722; 
    border-radius: 25px;
}

.waves-effect.waves-light.btn-large.login{
    background-color: #FFFFFF; 
    border-radius: 25px;
    margin-left: 50px;
    color: #FF5722;
}
@media (max-width: 1024){

}

.main-section{
    background-color: #ffffff;
}

.page-footer{
  color: #999; /* IE8 proofing */
  background-color: #1289e8;
  width: 100%;
  bottom: 0;
  position: inherit;
}
