.parallax-container{
    position: inherit;
    padding: 50px;
}

.parallax{

  background: url("../../app/img/header.png");
  background-size: cover;
  
}

.btn-floating{
    width: 20%;
}

.cover-heading{
    text-align: center;
}

.lead{
    text-align: center;
    font-style: italic;
}

.signup{
    text-align: center;

}
.waves-effect.waves-light.btn-large{
    background-color: #0089ec; 
    border-radius: 10px;
}
@media (max-width: 768px){

}

.main-section{
    background-color: #ffffff;
}

.page-footer{
  color: #999; /* IE8 proofing */
  background-color: #9e9e9e;
  width: 100%;
}
