/* Nav-bar components styling
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

.brand-logo{
  float: left;
  margin-bottom: 0;
  padding-left: 3%;
}
nav{
  background-color: #0089ec;
  border:  none;
  box-shadow: none;
}
li{
  color: orange;

}
.right.hide-on-med-and-down{
  padding-right: 3%; 
}

nav ul li.active {
   background: rgba(217, 35, 15, 0);
}

.nav-wrapper{
    background: rgba(217, 35, 15, 0);
    border-color: rgba(217, 35, 15, 0);
}

.nav-sign-up{
  border: 2px solid white;
  border-radius: 25px;
  background: rgba(217, 35, 15, 0);
}

/* Declare heights because of positioning of img element */

@media (min-width: 768px) {
  .navbrand-logo {
    float: left;
  }
  #nav-mobile {
    float: right;
  }

}

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
