<div class="section white">
    <div class="row container">
      <h2 class="header">Main Section</h2>
      <p class="grey-text text-darken-3 lighten-3">Details go here.</p>
    </div>
</div>

<!--
<div class="main-section">

    <div class="row">

      <div class="col s4">
           Promo Content 1 goes here 
        <p>main-section works!</p>
      </div>
      <div class="col s4">
         Promo Content 2 goes here 
        <p>main-section works!</p>
      </div>
      <div class="col s4">
         Promo Content 3 goes here 
        <p>main-section works!</p>
      </div>

    </div>
</div>
-->
